name: build

on:
  push:
    branches:
      - master
      - renovate/**
    tags:
      - "**"
  pull_request:

env:
  ENABLE_PYO3: 1
  RUSTFLAGS: -D warnings

jobs:
  checks:
    name: Check code

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install Protoc
        uses: arduino/setup-protoc@v2

      - name: Install Rust toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          components: rustfmt,clippy

      - name: Check formatting
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check

      - name: Install cargo-hack
        run: >
          wget -O-
          https://github.com/taiki-e/cargo-hack/releases/download/v0.5.12/cargo-hack-x86_64-unknown-linux-gnu.tar.gz |
          tar -C $HOME/.cargo/bin -xz

      - name: Run cargo check
        uses: actions-rs/cargo@v1
        with:
          command: hack
          args: check --feature-powerset --no-dev-deps

      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: hack
          # Allow clippy warnings until they're fixed, but report them
          args: clippy --feature-powerset --no-dev-deps -- -W warnings

  build:
    name: Build hyperion.rs binaries

    runs-on: ubuntu-24.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Install nix
        uses: cachix/install-nix-action@v31
        with:
          github_access_token: ${{ secrets.GITHUB_TOKEN }}

      - name: Build archives
        run: |
          nix build .?submodules=1#packages.x86_64-linux.allArchives

      - uses: actions/upload-artifact@v6
        with:
          name: archives
          path: result/*.tar.xz

  release-nightly:
    name: Release hyperion.rs

    needs: [checks, build]
    runs-on: ubuntu-latest
    if: "github.ref == 'refs/heads/master' || startsWith(github.ref, 'refs/tags/v')"

    permissions:
      contents: write
      issues: write
      pull-requests: write

    steps:
      - uses: actions/download-artifact@v7
        with:
          name: archives
          path: result

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: latest
          prerelease: true
          title: "Development Build"
          files: |
            result/**/*
        if: "github.ref == 'refs/heads/master'"

      - uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          title: ${{ github.ref_name }}
          files: |
            result/**/*
        if: "startsWith(github.ref, 'refs/tags/v')"
# vim: ts=2:sw=2
